body{
    background-color: #cfd8dc ;
    font-family: 'Fresca', sans-serif;
    color: #a1887f;
}

.home{
    background-image: url("../assets/img/desarrolladores-web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.foto{
    background-image:url("../assets/img/Reacciones-programadores-portada.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}