@import "_color";
@import "_fuente";
$flex:flex;

*{
  margin:0;
  padding:0;
}

body{
  font-family: $font-parrafo;
  color: $color-text;
}

.back-color{
  background-color: $color-nav;
}

nav {
  .logo-up {
    width: 2.5rem;
    margin: 0.2rem 1.7rem;;
  }
  .open{
    display: block;
  }
}

.size-text{
  font-size: 1.14rem;
}

.inicio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 100%;
  color: $color-footer;
  background-image: url("../img/keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .inicio__divFlex {
    display: $flex;
    flex-direction: column;
    align-items: center;
    .inicio__divFlex--margin{
      margin-bottom:0;
    }
    .inicio__divFlex--position{
      position: absolute;
      bottom: 0;
      i {
        font-size: 5rem;
      }
    }
  }
}

@keyframes cambiar {
  0%{margin-top: 0;}
  20%{margin-top: 0;}

  25%{margin-top: -40px;}
  50%{margin-top: -40px;}

  55%{margin-top: -80px;}
  80%{margin-top: -80px;}

  85%{margin-top: -40px;}
  95%{margin-top: -40px;}

  100%{margin-top: 0;}
}

/*sobre*/
.sobre{
    padding-top: 3rem;
  .thumb{
    border: 1px solid $color-text;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  .thumb:hover {
    box-shadow: 0 0 2px 1px rgba(21, 41, 51, 0.5);
  }
}

/*conocimientos*/

.conocimientos {
  padding: 3rem;
  background-color: $color-title;
  color: #fff;

  .container-skill {
    padding-top: 3rem;
    .skill {
      .size-img {
        width: 130px;
        margin-left: 3rem;
        margin-bottom: 3rem;
      }
    }
  }
}

@media ("max-width:760px") {
  .container-skill{
    padding: 1rem 4.5rem;
  }
}

/*proyectos*/

.proyectos {
  padding-top: 3rem;
  .proyectos__padd {
    padding: 4rem;
  }
  .modal {
    max-height: 100%;
    top:6%;
  }
}

.active{
  background-color: #2C3E50;
  color:#fff;
}

/*contact*/
.contacto{
  padding-top:4rem;
  .contacto__informacion{
    h3{
      font-family: $font-titles;
    }
    .contacto__informacion--margin{
      margin: 2rem 0;
    }
  }
  .descarga{
    margin:2rem;
  }
  .icon-up{
    background-color: $color-up;
  }
}

footer{
  height:4rem;
  background-color: $color-footer;
}