@import "_color";
@import "_fuente";
$flex:flex;

*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: $color-text;
}

.back-color{
  background-color: $color-nav;
}
.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5.5rem;
  background-image: url("../img/keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .inicio__divFlex {
    display: $flex;
    flex-direction: column;
    align-items: center;
  }
  .inicio__texto{
    display: $flex;
    height: 100px;
    width : auto;
    font-size: 16px;
    line-height: 40px;
    overflow: hidden;
    .titulo{
      font-family: $font-titles;
    }
    .animado{
      animation: cambiar 7s infinite;
    }
  }
}

@keyframes cambiar {
  0%{margin-top: 0;}
  20%{margin-top: 0;}

  25%{margin-top: -90px;}
  50%{margin-top: -90px;}

  55%{margin-top: -180px;}
  80%{margin-top: -180px;}

  85%{margin-top: -90px;}
  95%{margin-top: -90px;}

  100%{margin-top: 0;}
}

/*about*/
.about{
  padding: 6rem 2rem;
  .thumb{
    border: 1px solid $color-text;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  .thumb:hover {
    box-shadow: 0 0 2px 1px rgba(21, 41, 51, 0.5);
  }
}

nav {
  .logo-up {
    width: 2.5rem;
    margin: 0.2rem 1.7rem;;
  }
  .open{
    display: block;
  }
}

#proyectos{
  padding-top: 2rem;
  overflow: auto;
}
.material-placeholder{
  display:inline-block!important;
}
.materialboxed{
  height: 20rem !important;
  width: 20rem;
}
#contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #f4f4f4;
  width: 300px;
  margin: 10px auto;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}

.card-header {
  overflow: hidden;
  width: 100%;
  max-height: 200px;
}

.card-header img{
  width: 100%;
}

.card-content {
  width: 85%;
  margin: 35px auto;
}

.card-content h3 {
  font-size: 25px;
  margin-bottom: 0;
  color: #303F9F;
  font-family: 'Montserrat', sans-serif;
}

.card-content h4 {
  font-size: 14px;
  margin-top: 0;
  color: #FF5252;
  font-family: 'Montserrat', sans-serif;
}

.card-content p {
  color: #727272;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.card-footer {
  border-top: solid 1px #B6B6B6;
  padding: 5px;
}

.card-footer ul {
  padding: 0;
  width: 90%;
  margin: auto;
  text-align: center;
}

.card-footer ul li{
  display: inline-block;
  list-style: none;
  margin: 5px;
}

.card-footer ul li i {
  font-size: 2em;
  color: #3F51B5;
}

.active{
  background-color: #2C3E50;
  color:#fff;
}

/*contacto*/

.icon-up{
  background-color: $color-up!important;
}