@import "_color";
@import "_fuente";
$flex:flex;
$prefixes: "webkit", "moz", "ms", "o", "none";

@mixin prefix($propiedad, $argumento) {
  @each $prefix in $prefixes {
    @if $prefix == "none" {
      #{$propiedad}: $argumento;
    } @else {
      -#{$prefix}-#{$propiedad}: $argumento;
    }
  }
}

*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: $font-parrafo;
  color: $color-text;
}

.back-color{
  background-color: $color-nav;
}

nav {
  .logo-up {
    width: 2.5rem;
    margin: 0.2rem 1.7rem;;
  }
  .open{
    display: block;
  }
}

.size-text{
  font-size: 1.14rem;
}

.inicio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 100%;
  background-image: url("../img/keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .inicio__divFlex {
    display: $flex;
    flex-direction: column;
    align-items: center;
    .inicio__divFlex--margin{
      margin-bottom:0;
    }
    .down{
      @include prefix('animation',3s 1500ms normal);
    }
    .inicio__divFlex--position{
      position: absolute;
      bottom: 0;
      i {
        font-size: 5rem;
      }
    }
  }
}

/*sobre*/
.sobre{
    padding-top: 4rem;
  .thumb{
    border: 1px solid $color-text;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  .thumb:hover {
    box-shadow: 0 0 2px 1px rgba(21, 41, 51, 0.5);
  }
}

/*conocimientos*/
.conocimientos {
  padding: 3rem;
  .container-skill {
    padding-top: 3rem;
    .skill{
        .anim-underline {
          position: relative;
          font-family: $font-titles;
          padding-bottom: 1rem;
      }
      .anim-underline:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30%;
        height: 4px;
        background-color: $color-title;
        animation: width 0.5s;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        border-radius: 2px;
      }
      .anim-underline:hover:before {
         -webkit-transform: scaleX(1);
         transform: scaleX(1);
       }
      .icon-star{
        width: 1.5rem;
      }
    }
    .size-img {
      display: block;
      width: 120px;
      padding: 1rem 0 0.5rem 2rem;
    }
  }
}

@media ("max-width:760px") {
  .container-skill{
    padding: 1rem 4.5rem;
  }
}

/*proyectos*/
.proyectos {
  background-color: $color-nav;
  padding: 3rem 0 3rem 0;
  h3{
    padding-bottom: 1.5rem;
  }
}
.active{
  background-color: #2C3E50;
  color:#fff;
}

/*contact*/
.contacto{
  padding:4rem 0 2rem 0;
  .contacto__informacion{
    h3{
      font-family: $font-titles;
    }
    .contacto__informacion--margin{
      margin: 2rem 0;
    }
  }
  .descarga{
    margin:2rem;
  }
  .icon-up{
    background-color: $color-up;
  }
}

footer{
  padding-top: 1rem;
  color: #fff;
  height:5.5rem;
  background-color: $color-footer;
  .ancho{
    margin:0.5rem 0.5rem 0 0.5rem;
    width: 1.5rem;
  }
}