* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  color: #000000; }

.back-color {
  background-color: rgba(109, 77, 77, 0.5); }

nav .logo-up {
  width: 2.5rem;
  margin: 0.2rem 1.7rem; }
nav .open {
  display: block; }

.size-text {
  font-size: 1.14rem; }

.inicio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 100%;
  background-image: url("../img/keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .inicio .inicio__divFlex {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .inicio .inicio__divFlex .inicio__divFlex--margin {
      margin-bottom: 0; }
    .inicio .inicio__divFlex .down {
      -webkit-animation: 3s 1500ms normal;
      -moz-animation: 3s 1500ms normal;
      -ms-animation: 3s 1500ms normal;
      -o-animation: 3s 1500ms normal;
      animation: 3s 1500ms normal; }
    .inicio .inicio__divFlex .inicio__divFlex--position {
      position: absolute;
      bottom: 0; }
      .inicio .inicio__divFlex .inicio__divFlex--position i {
        font-size: 5rem; }

/*sobre*/
.sobre {
  padding-top: 4rem; }
  .sobre .thumb {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px; }
  .sobre .thumb:hover {
    box-shadow: 0 0 2px 1px rgba(21, 41, 51, 0.5); }

/*conocimientos*/
.conocimientos {
  padding: 3rem; }
  .conocimientos .container-skill {
    padding-top: 3rem; }
    .conocimientos .container-skill .skill .anim-underline {
      position: relative;
      padding-bottom: 1rem; }
    .conocimientos .container-skill .skill .anim-underline:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30%;
      height: 4px;
      background-color: #97ae51;
      animation: width 0.5s;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      border-radius: 2px; }
    .conocimientos .container-skill .skill .anim-underline:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    .conocimientos .container-skill .size-img {
      width: 110px;
      padding: 3rem 0 0 3rem; }

@media (max-width: 760px) {
  .container-skill {
    padding: 1rem 4.5rem; } }
/*proyectos*/
.proyectos {
  background-color: rgba(109, 77, 77, 0.5);
  padding: 3rem 0 3rem 0; }
  .proyectos h3 {
    padding-bottom: 1.5rem; }
  .proyectos img {
    width: 100%; }
  .proyectos .modal {
    max-height: 100%;
    top: 6%; }

.active {
  background-color: #2C3E50;
  color: #fff; }

/*contact*/
.contacto {
  padding: 4rem 0 2rem 0; }
  .contacto .contacto__informacion h3 {
    font-family: "Oswald", sans-serif; }
  .contacto .contacto__informacion .contacto__informacion--margin {
    margin: 2rem 0; }
  .contacto .descarga {
    margin: 2rem; }
  .contacto .icon-up {
    background-color: #6D6D6D; }

footer {
  padding-top: 1rem;
  color: #fff;
  height: 5.5rem;
  background-color: #333333; }
  footer .ancho {
    margin: 0.5rem 0.5rem 0 0.5rem;
    width: 1.5rem; }

/*# sourceMappingURL=main.css.map */
